OPENAI_API_KEY=sk-proj-...
TRUEDGE_LLM_PROVIDER=openai
TRUEDGE_DEEP_MODEL=gpt-4o
TRUEDGE_QUICK_MODEL=gpt-4o-mini
ALPHA_VANTAGE_API_KEY=16QJRSPY3018KK9X
VERCEL_TOKEN=
VERCEL_ORG_ID=5Z5rYM7DFSEnx5jfIjaQ2UwV
VERCEL_PROJECT_ID=prj_GuDlKJZgBWqaqYXMEjLQTpL0fKDP
